<!DOCTYPE html>
<html lang="en">
  <body class="container">
    <main>
      <h1>Account</h1>
      <div class="row">
        <h1>Welcome to your account page <%= user.username%></h1>
      </div>
    </main>
  </body>
</html>
