
body {
    background-image: url(https://scontent-atl3-1.xx.fbcdn.net/v/t39.30808-6/316293469_10222573830763774_6764825607656621867_n.jpg?stp=c34.0.206.206a_dst-jpg_p206x206&_nc_cat=100&ccb=1-7&_nc_sid=da31f3&_nc_ohc=pXqEzJMXuu4AX8AdEIP&_nc_ht=scontent-atl3-1.xx&oh=00_AfCkmsgqRAup8ahWdO3ObJo6ASMKQSzXXkdylASCbMStmQ&oe=638F381C);
    background-repeat: repeat;
}

.container {
    background-color: rgba(208, 142, 142, 0.85);
    margin: 10%;
    width: auto;
    height: 400px;
    border-radius: 10px;
    
}

h1 {
    font-size: 50px;
    font-family: cursive;
    font-weight: 700;
    text-align: center;
    background-color: rgb(39, 200, 90, .5);
    color: white;
}

img {
    size: 200px;
}

p {
    font-size: 30px;
    text-align: center;
}

a {
    font-family: 'Gill Sans';
    color: black;
}

li {
    font-family: Helvetica;
    font-weight: 900;
}