body {
    background-color: #f3eee5;
    margin: 0px;
}

/* ============================= Nav Bar ============================= */

.navbar {
    background-color: #c4a600;
    box-shadow: 0px 0px 5px #897f46;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 56px;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.logo{
    height: 20px;

}

.navbar > a {
    text-decoration: none;
    letter-spacing: 2px;
    color:#f3eee5;
    font-family: Kanit;
    font-weight: 400;
    font-size: 14px;
    transition-duration: .2s;
}

.navbar > a:hover{
    color:#091019;
}

/* ============================= Index Page ============================= */

.coverDiv{
    margin-top: 56px;
    background-image: url(https://images.unsplash.com/photo-1470337458703-46ad1756a187?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80);
    background-size: cover;
    width: 100vw;
    height: 400px;
    display: flex;
}

.coverText{
    font-family: Kanit;
    font-weight: 200;
    color: #f3eee5;
    font-size: 80px;
    text-shadow:2px 2px 5px #162638;
    width: 500px;
    padding-left: 50px;
}

.featured{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.featuredHead{
    font-family: Kanit;
    margin: 0px;
}

/* ============================= Search Page ============================= */
.searchBackground {
    margin-top: 56px;
    background-color: #f3eee5;
    background-image: url(https://images.unsplash.com/photo-1563227812-0ea4c22e6cc8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80);
    background-size: cover;
    width: 100vw;
    height: 400px;
}

.search{
    margin:1vh;
}

.searchBar {
    display: flex;
    justify-content: center;
    padding-top: 187px;
    margin: 0px;
}

.searchBar input {
    border: 1px solid #091019;
    background-color:#f3eee5;
    color:black;
    height: 20px;
    padding: 2px 2px 2px 10px;
    outline: none;
}

.searchBar input:focus{
    background-color: #b7d9ee;
}

.searchBar ::placeholder {
    color:#7797ac;
}

.searchButton{
    border-style: none;
    background-color: #091019;
    color: #f3eee5;
    height: 26px;
    transition-duration: .2s;
}

.searchButton:hover{
    background-color: #1e6ea3;
}

.searchResultsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0px;
}

.resultContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 20px 20px 20px 20px;
}

.cocktailCard {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color:#f3eee5;
    border-radius: 2px;
    box-shadow: 0px 0px 5px #cbc6bf;
}

.cocktailName{
    color: #091019;
    background-color: #f3eee5;
    font-family: 'Kanit', 'sans-serif';
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    padding: 5px 0px;
    border-style: none;
    cursor: pointer;
    transition-duration: .2s;
}

.cocktailName:hover{
    background-color: #c4a600;
}

.cocktailCard img {
    background-color: #091019;
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 2px 2px 0px 0px;
}

@media screen and (max-width: 682px) {
    .cocktailCard{
        box-shadow: none;
    }.cocktailName{
        border-bottom: 2px solid #c4a600;
        font-size: larger;
        margin: 0px;
        padding: 5px 0px;
    }
}

/* ============================= Recipe Page ============================= */

.individualCocktail{
    background-color: #f3eee5;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0px 0px 10px #cbc6bf;
    font-family: Helvetica;
    color: #18273b;
    width: fit-content;
    
}

.recipeImage{
    margin: 30px;
    height: 300px;
    width: 300px;
}

.recipeDetailsDiv{
    margin: 30px 30px 30px 0px;
}

.recipeNameDiv{
    font-size: 16px;
    max-width: 300px;
}

.recipeNameDiv h1{
    margin: 0px 0px 5px 0px;
    font-family: Kanit;
}

.recipeGlassDiv{
    border-top: 2px solid #c4a600;
    color: #2b4e63;
}

.recipeGlassDiv h1{
    font-size: 14px;
    font-weight: 400;
}

.recipeItemsDiv{
    color: #2b4e63;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    height: fit-content;
}

.recipeText{
    color: #7797ac;
    font-size: 12px;
    font-weight: bold;
}

.recipeMeasureDiv{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 3px;
    font-size: 14px;
    text-align: right;
    width: fit-content;
}

.recipeIngredientDiv{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 3px;
    font-size: 14px;
    width: fit-content;
}

.recipeInstructionDiv{
    max-width: 300px;
    color: #2b4e63;
    font-size: 14px;
}

@media screen and (max-width: 700px){
    .individualCocktail{
        box-shadow: none;
        justify-content: center;
        margin-top: 56px;
        margin-bottom: 50px;
    }.recipeDetailsDiv{
        margin: 0px;
    }.recipeImage{
        width: fit-content;
        height: 100vw;
        margin: 0px 0px 15px 0px;
    }
    
}

/* ============================= ABOUT ============================= */

.tiles{
    display: grid;
    grid-template-columns: repeat(12, 100px);
    grid-template-rows: repeat(16, 100px);
    position: relative;
    justify-content: center;
    height: fit-content;
    font-family: Kanit;
    color: #c4a600;
}

.tiles img{
    height: 600px;
}

#img1{
    grid-column: 4;
    grid-row: 2;
}

#img2{
    grid-column: 7;
    grid-row: 5;
}

#img3{
    grid-column: 3;
    grid-row: 7;
    z-index: 1;
}

#img4{
    grid-column: 6;
    grid-row: 10;
}

#proj{
    grid-column: 9/ span 2;
    grid-row: 2;
    margin: 0px;
}

#name{
    grid-column: 9/ span 2;
    grid-row: 3;
    font-weight: 400;
    margin: 0px;
}
#grid{
    grid-column: 3/ span 3;
    grid-row: 14;
    margin: 0px;
    font-weight: 400;
}

@media screen and (max-width: 800px){
    .tiles{
        margin: 56px;
        display: flex;
        flex-direction: column;
        width: fit-content;
        margin: 56px auto;
    }
}

/* ============================= FOOTER ============================= */

footer {
    background-color: #cbc6bf;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 50px 0px;
    margin-bottom: 0px;
    width: 100%;
    height: fit-content;
    font-family: Helvetica;
    text-align: center;
    font-size: 12px;
    color:#f3eee5;
}

footer p {
    margin: 6px;
}
footer a{
    margin: 6px;
    text-decoration: none;
    color: #f3eee5;
}