body {
    background-color:#f3eee5;
    margin: 0px;
}

/* ============================= Nav Bar ============================= */

.navbar {
    background-color: #f3eee5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin:20px 0px 0px 20px;
    padding: 20px;
    margin: 0%;
    width: 100vw;
    position: fixed;
    top: 0;
    

}

.navbar > a {
    text-decoration: none;
    color:#1c7fbd;
    font-family: Helvetica;
    font-weight: 200;
    font-size: 14px;
    transition-duration: .2s;
}

.navbar > a:hover{
    color: #02273f;
}

/* ============================= Index Page ============================= */

.coverDiv{
    margin-top: 56px;
    background-image: url(https://images.unsplash.com/photo-1470337458703-46ad1756a187?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80);
    background-size: cover;
    width: 100vw;
    height: 400px;
    display: flex;
}

.coverText{
    font-family:'Gill Sans', sans-serif;
    font-weight: 100;
    color: #f3eee5;
    font-size: 100px;
    text-shadow:2px 2px 5px #162638;
    width: 500px;
    padding-left: 50px;
}

/* ============================= Search Page ============================= */
.searchBackground {
    background-color: #f3eee5;
    background-image: url(https://images.unsplash.com/photo-1563227812-0ea4c22e6cc8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80);
    background-size: cover;
    width: 100vw;
    height: 400px;
    /* mix-blend-mode: screen; */
}

.search{
    margin:1vh;
}

.searchBar {
    display: flex;
    justify-content: center;
    padding: 100px 0px 100px 0px;
    margin: 0px;
}

.searchBar input {
    border: 1px solid #162638;
    background-color:#f3eee5;
    color:black;
    height: 20px;
    padding: 2px 2px 2px 10px;
    outline: none;
}

.searchBar input:focus{
    background-color: #b7d9ee;
}

.searchBar ::placeholder {
    color:#74bbe7;
}

.searchButton{
    border-style: none;
    background-color: #162638;
    color: #f3eee5;
    height: 26px;
    transition-duration: .2s;
}

.searchButton:hover{
    color: #0e1814;
    background-color: #74bbe7;
}

.searchResultsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
}

.resultContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 20px 20px 20px 20px;
}

.cocktailCard {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color:#f3eee5;
    border-radius: 2px;
    filter: drop-shadow(0px 0px 4px #c4c0b8);
}

.cocktailName{
    color: #162638;
    /* border-top: 1px solid #74bbe7;
    padding-top: 5px;
    border-bottom: 1px solid #74bbe7;
    padding-bottom: 5px; */
    margin: 5px;
    font-family: Helvetica;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}

.cocktailCard img {
    background-color: #162638;
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 2px 2px 0px 0px;
}

/* ============================= Recipe Page ============================= */

.individualCocktail{
    background-color: #f3eee5;
    margin: 72px 60px 120px 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0px 0px 10px #c4c0b8;
    font-family: Helvetica;
}

.recipeImage{
    height: 300px;
    width: 300px;
}

.recipeDetailsDiv{
    margin: 0px 20px 0px 20px;
}

.recipeNameDiv{
    font-size: 16px;
}

.recipeInfoDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.recipeInfoDiv h1{
    font-size: 12px;
    height: 12px;
    width: fit-content;
    background-color: #c4c0b8;
    border-radius: 8px;
    color: #f3eee5;
    padding:10px;
}

.recipeIngredientDiv{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
}

.recipeInstructionDiv{
    max-width: 600px;
}

/* ============================= FOOTER ============================= */

footer {
    background-color: #c4c0b8;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 0px;
    width: 100%;
    height: 100px;
    font-family: Helvetica;
    color: #f3eee5;
    position:static;
    bottom: 0;
}