<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <title>Login</title>
  </head>

  <body>
    <div class="main">
      <img class="logo" src="/assets/vote_logo.svg" alt="logo" />
      <form action="/login" method="post">
        <label for="username">user name</label>
        <input name="username" type="text" placeholder="username" />
        <label for="password">password</label>
        <input name="password" type="password" placeholder="password" />
        <input type="submit" value="submit" />
      </form>
      <form action="/create" method="get">
        <h1>Voting for the first time?</h1>
        <input type="submit" name="Create Account" value="submit" />
      </form>
    </div>
  </body>
</html>
