.Footer {
  border-top: 2px solid #494949;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.Footer img {
  width: 20px;
  animation: logo-spin infinite 0.5s linear;
}
