.main {
  background-color: rgb(0, 166, 255);
  background-image: url(https://images.unsplash.com/photo-1513366208864-87536b8bd7b4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
  background-size: cover;
  margin: auto;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

/* .container {
} */

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1.5px solid white;
}
/* TITLE */
.contact {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: white;
}
.inputDiv {
  display: flex;
  gap: 20px;
}

.inputTitle {
  width: 150px;
  color: white;
  text-shadow: 1px 1px black;
}
.inputFields {
  display: flex;
  gap: 20px;
  width: 400px;
}
.inputFields input {
  width: 190px;
}
.emailField input {
  width: 400px;
}
.phoneField {
  display: flex;
  gap: 20px;
}
.phoneField input {
  width: 120px;
}

.subjectField {
  width: 260px;
}

.textarea {
  height: 100px;
  width: 400px;
}

.captcha {
  background-color: lightgrey;
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 0px 10px;
}

.checkDiv {
  display: flex;
  gap: 5px;
  color: black;
  font-size: 0.75rem;
}

.captchaLogo {
  height: 50px;
}

.submit {
  font-weight: 600;
  border: 1.5px solid white;
  border-radius: 5px;
  padding: 1% 4%;
  width: fit-content;
  color: white;
}
