.container {
    display: grid;
    /* grid-template-columns: 200px; */
    border: 2px solid blue;
}

.content {
    display: grid;
    /* grid-template-columns: .5fr 1fr 2fr; */
    grid-template-areas: 
    "header header"
    "body main"
    "footer main";
    border: 2px solid red;
    padding: 20px;
    gap: 5px;
}

.header {
    grid-area: header;
    border: 2px solid coral;
    display: grid;
    place-items: center;
}
.body {
    grid-area: body;
    border: 2px solid blue;
}
.main {
    grid-area: main;
    border: 2px solid pink;
}
.footer {
    grid-area: footer;
    border: 2px solid aqua;
}
.center {
    height: 90px;
    width: 305px;
    display: grid;
    border: 2px solid black;
    place-items: center;
}