<div class="accounts">
    <div class="accountsHead">
        <h1>Account Summary</h1>
    </div>
    <div class="accountsBody">
        <div class="accountsCard">
            <p>Account Balance</p>
            <h1><%=accountBalance.amount%></h1>
        </div>
        <div class="accountsCard">
            <p>Pending</p>
            <h1><%=pending.amount%></h1>
        </div>
        <div class="accountsCard">
            <p>Processed Data</p>
            <h1><%=processedData.amount%></h1>
        </div>
    </div>
</div>